.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.basic-header {
  background-color: #00B16A;
  color: #FDB40D;
  padding-top: 1px;
  width: 100vw;
  height: 50px;
}

.header-text {
  color: #FDB40D;
  margin: 10px auto 0 10px;
  font-size: 25px;
  
}

.page-title-text {
  color: #FDB40D;
  font-size: 25px;
}

.router-link {
  text-decoration: none;
  color:  #FDB40D;
}

.preview {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.modal-title-text {
  color:  #00B16A;
  font-size: 22px;
}